.modifier-fields {
  .multi-select-label {
    margin: 10px 0 8px 0;
  }
  label {
    margin: 10px 0;
  }
  .single-label {
    font-weight: 600;
  }
  .single-value {
    font-weight: 600;
    font-size: 20px;
    color: #0178e5;
  }
}
